*{
  padding: 0px;
  margin: 0px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  height: 100vh;
}

ul, li, a{
  list-style: none;
  font-size: 24px;
  text-decoration: none;
  color: white;
}
.mainContainer{
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  font-size: 32px;
  font-weight: 900;
  align-content: center;
}

.sidebar {
  padding: 16px;
  min-width: 300px;
  background: rgb(76, 112, 219);
  box-sizing: border-box;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  align-content: start;
  padding: 48px;
}

.card {
  display: flex;
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  margin: 8px;
  padding: 24px;
  flex-wrap: wrap;
  border-radius: 12px;
  width: 300px;
  height: 300px;
}

.midSection{
  display: flex;
  flex-grow: 1;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  text-align: center;
  align-content: center;
}